# pixi environments
**/.pixi/*
!**/.pixi/config.toml

# log
**/log/*
*.log
!**/log/.keep

# tmp
**/tmp/*
*.tmp
!**/tmp/.keep

# microros_ws
microros_ws/*
!microros_ws/.keep

# python
# Python bytecode
*.py[cod]
**/__pycache__/
